body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.webp') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background: url('cabecalho.webp') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5em 0;
    min-height: 300px;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.75) !important; /* Ajusta a transparência */
}

nav a {
    color: #007bff;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #e9ecef;
    color: #0056b3;
    transition: 0.3s;
}

section {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p, section ul {
    font-family: 'Lato', Arial, sans-serif;
}

h2, h3 {
    color: #0056b3;
}

h3.small-header {
    font-size: 1.25em;
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

ul li {
    margin-bottom: 0.5em;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}

.font-grande {
    font-size: 1.5em;
}
