body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    position: relative;
    height: 100vh;
    background: url('path/to/your/header-image.png') no-repeat center center/cover;
}

.header .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

nav.navbar {
    background: rgba(0, 0, 0, 0.8);
}

nav.navbar a.nav-link {
    color: white;
    padding: 14px 20px;
}

nav.navbar a.nav-link:hover {
    color: #007bff;
    background-color: transparent;
}

main {
    padding: 2em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}


nav {
    margin: 0;
    padding: 0;
}

nav a {
    color: #007bff;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #e9ecef;
    color: #0056b3;
    transition: 0.3s;
}

section {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9); /* Transparência para destacar o texto */
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p, section ul {
    font-family: 'Lato', Arial, sans-serif;
}

h2, h3 {
    color: #0056b3;
}

h3.small-header {
    font-size: 1.25em; /* Ajuste o tamanho conforme necessário */
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

ul li {
    margin-bottom: 0.5em;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
}

.font-grande {
    font-size: 1.5em;
}
